<section id="post-detail-page">
  <div class="container">
    <div class="card">
      <h1>
        {{ post.title }}
        <small>publicación #{{ id }}</small>
      </h1>

      <p>{{ post.body }}</p>
    </div>

    <hr>

    <div class="comments-container">
      <h2>Comentarios</h2>

      <div class="card">
        <h3>
          Roberto
          <small>roberto@lol.com</small>
        </h3>

        <p>
          asdasdasdasdasdasdasdasdas asd asd asd
          <br><br>
          <button type="button">Emitir fecha</button>
        </p>
      </div>
      <div class="card">
        <h3>
          Roberto
          <small>roberto@lol.com</small>
        </h3>

        <p>
          asdasdasdasdasdasdasdasdas asd asd asd
          <br><br>
          <button type="button">Emitir fecha</button>
        </p>
      </div>
      <div class="card">
        <h3>
          Roberto
          <small>roberto@lol.com</small>
        </h3>

        <p>
          asdasdasdasdasdasdasdasdas asd asd asd
          <br><br>
          <button type="button">Emitir fecha</button>
        </p>
      </div>
    </div>
  </div>
</section>
