<section id="post-detail-page">
  <div class="container">
    <div class="card">
      <h1>
        {{ post.title }}
        <small>publicación #{{ id }}</small>
      </h1>

      <p>{{ post.body }}</p>
    </div>

    <hr>

    <div class="comments-container">
      <h2>
        Comentarios
        <small *ngIf="showDate !== null">{{ showDate }}</small>
      </h2>

      <app-post-comment *ngFor="let comment of post.comments" [comment]="comment"
        (clickEmitButton)="onDateEmitted($event)"></app-post-comment>
    </div>
  </div>
</section>
