<section id="post-list-page">
  <div class="container">
    <h1>Listado de publicaciones</h1>
    <p>Mostrando los últimos 10 registros</p>

    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Lorem ipsum</td>
            <td>
              <a routerLink="/post/detail/1">Ver</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
