/* You can add global styles to this file, and also import other style files */
:root {
  --color-default: #393939;
  --color-primary: #0682c2;
  --color-info: #79cae8;
  --color-warning: #febf4e;
  --color-light: #d8f0fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  .container {
    position: relative;
    width: 100%;
    max-width: 992px;
    padding: 15px;
    margin: 0 auto;
  }

  color: var(--color-default);
  font-family: sans-serif;
}
